<div class="container mx-auto px-4">
  <div class="flex items-center justify-between flex-wrap mb-6">
    <h1 class="text-3xl font-bold">Recipe Ingredients</h1>

    <%= link_to new_recipe_ingredient_path, class: button_class(theme: "primary") do %>
      Add New Recipe Ingredient
    <% end %>
  </div>

 <table class="table-auto border-collapse border-slate-400 w-full">
   <thead class="bg-slate-50 dark:bg-slate-700">
    <tr>
      <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-white text-center">Recipe</th>
      <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-white text-center">Method</th>
      <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-white text-center">Ingredient</th>
      <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-white text-center">Quantity</th>
      <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-white text-center">Unit</th>
      <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-white text-center">Image</th>
      <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-white text-center">Optional</th>
      <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-white text-center"></th>
    </tr>
  </thead>
  <tbody>
    <% @recipe_ingredients.group_by { |ri| [ri.recipe, ri.cook_method] }.each do |(recipe, cook_method), ingredients| %>
      <%= content_tag :tr, class: 'bg-slate-100 dark:bg-slate-800' do %>
        <td class="border border-slate-300 dark:border-slate-700 p-4 text-center text-black" rowspan="<%= ingredients.size %>"><%= recipe.title %></td>
        <td class="border border-slate-300 dark:border-slate-700 p-4 text-center text-black" rowspan="<%= ingredients.size %>">
          <%= cook_method.present? ? cook_method.name : 'N/A' %>
        </td>
        <% first_ingredient = ingredients.first %>
        <td class="border border-slate-300 dark:border-slate-700 p-4 text-center text-black"><%= first_ingredient.ingredient.name %></td>
        <td class="border border-slate-300 dark:border-slate-700 p-4 text-center text-black">
          <%= first_ingredient.quantity.to_i == first_ingredient.quantity ? first_ingredient.quantity.to_i : first_ingredient.quantity %>
        </td>
        <td class="border border-slate-300 dark:border-slate-700 p-4 text-center text-black"><%= first_ingredient.unit %></td>
        <td class="border border-slate-300 dark:border-slate-700 p-4 text-center text-black flex justify-center items-center">
        <% if first_ingredient.image.attached? %>
          <%= image_tag url_for(first_ingredient.image), style: "height: auto; max-width: 150px; object-fit: cover;" %>
        <% else %>
          <p>No image</p>
        <% end %>
      </td>
        <td class="border border-slate-300 dark:border-slate-700 p-4 text-center text-black"><%= first_ingredient.optional ? 'Yes' : 'No' %></td>
        <td class="border border-slate-300 dark:border-slate-700 p-4 text-center text-black"><%= link_to 'Show', recipe_ingredient_path(first_ingredient) %></td>
      <% end %>
      <% ingredients.drop(1).each do |ingredient| %>
        <%= content_tag :tr do %>
          <td class="border border-slate-300 dark:border-slate-700 p-4 text-center text-black"><%= ingredient.ingredient.name %></td>
          <td class="border border-slate-300 dark:border-slate-700 p-4 text-center text-black">
            <%= ingredient.quantity.to_i == ingredient.quantity ? ingredient.quantity.to_i : ingredient.quantity %>
          </td>
          <td class="border border-slate-300 dark:border-slate-700 p-4 text-center text-black"><%= ingredient.unit %></td>
          <td class="border border-slate-300 dark:border-slate-700 p-4 text-center text-black flex justify-center items-center">
          <% if ingredient.image.attached? %>
            <%= image_tag url_for(ingredient.image), style: "height: auto; max-width: 150px; object-fit: cover;" %>
          <% else %>
            <p>No image</p>
          <% end %>
        </td>
          <td class="border border-slate-300 dark:border-slate-700 p-4 text-center text-black"><%= ingredient.optional ? 'Yes' : 'No' %></td>
          <td class="border border-slate-300 dark:border-slate-700 p-4 text-center text-black"><%= link_to 'Show', recipe_ingredient_path(ingredient) %></td>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

</div>
