<div id="<%= dom_id recipe %>">
  <p>
    <strong>Title:</strong>
    <%= recipe.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>

  <p>
    <strong>Instruction:</strong>
    <%= recipe.instruction %>
  </p>

  <p>
    <strong>Prep time:</strong>
    <%= recipe.prep_time %>
  </p>

  <p>
    <strong>Cook time:</strong>
    <%= recipe.cook_time %>
  </p>

  <p>
    <strong>Servings:</strong>
    <%= recipe.servings %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= recipe.account_id %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= recipe.image %>
  </p>

<!-- Hiển thị phương pháp nấu ăn -->
  <p>
    <strong>Cook Method:</strong>
    <%= recipe.cook_method ? recipe.cook_method.name : "Not specified" %>
  </p>
</div>
