<div class="max-w-3xl mx-auto px-4 py-8 bg-white shadow-md rounded-lg">
  <!-- Tiêu đề và liên kết điều hướng -->
  <div class="flex items-center justify-between mb-6">
    <h1 class="text-3xl font-bold text-gray-800">Ingredient</h1>
    <div class="flex space-x-3">
      <%= link_to ingredients_path, class: button_class(theme: "transparent") do %>
        All Ingredients
      <% end %>
      <%= link_to edit_ingredient_path(@ingredient), class: button_class(theme: "primary") do %>
        Edit
      <% end %>
    </div>
  </div>

  <!-- Nội dung hiển thị chi tiết -->
  <ul class="text-gray-700 space-y-4">
    <li>
      <p class="font-semibold text-lg">Name:</p>
      <p class="text-gray-600"><%= @ingredient.name %></p>
    </li>
    <li>
      <p class="font-semibold text-lg">Description:</p>
      <p class="text-gray-600"><%= @ingredient.description %></p>
    </li>
    <li>
      <p class="font-semibold text-lg">Image:</p>
      <div class="flex justify-center items-center my-4">
        <% if @ingredient.image.attached? %>
          <%= image_tag url_for(@ingredient.image), 
                        alt: @ingredient.name, 
                        class: "max-w-full h-auto rounded-md shadow-lg" %>
        <% else %>
          <p class="text-gray-500 italic">No image available</p>
        <% end %>
      </div>
    </li>
  </ul>

   <!-- Nút View Nutrition Info căn giữa -->
  <div class="mt-6 flex justify-center">
    <% if @ingredient.nutrition_info %>
      <%= link_to 'View Nutrition Info', nutrition_info_path(@ingredient.nutrition_info), 
                  class: button_class(theme: 'primary') + ' px-6 py-2 rounded-full', 
                  id: "view-nutrition-info-button" %>
    <% else %>
      <p class="text-gray-500 italic">No Nutrition Info available</p>
    <% end %>
  </div>
</div>

