<div id="<%= dom_id nutrition_info %>">
  <p>
    <strong>Ingredient:</strong>
    <%= nutrition_info.ingredient_id %>
  </p>

 <p>
    <strong>Base unit:</strong>
    <%= nutrition_info.base_unit%>
  </p> 
  <p>
    <strong>Calories:</strong>
    <%= nutrition_info.calories %>
  </p>

  <p>
    <strong>Protein:</strong>
    <%= nutrition_info.protein %>
  </p>

  <p>
    <strong>Carbs:</strong>
    <%= nutrition_info.carbs %>
  </p>

  <p>
    <strong>Fat:</strong>
    <%= nutrition_info.fat %>
  </p>

  <p>
    <strong>Sugar:</strong>
    <%= nutrition_info.sugar %>
  </p>

  <p>
    <strong>Fiber:</strong>
    <%= nutrition_info.fiber %>
  </p>

</div>
