<div id="<%= dom_id step %>">
  <p>
    <strong>Recipe:</strong>
    <%= step.recipe_id %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= step.position %>
  </p>

  <p>
    <strong>Instruction:</strong>
    <%= step.instruction %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= step.image %>
  </p>

  <p>
    <strong>Video url:</strong>
    <%= step.video_url %>
  </p>

</div>
