<div class="container mx-auto px-4">
  <div class="flex items-center justify-between flex-wrap mb-6">
    <h1 class="text-3xl font-bold">Steps</h1>

    <%= link_to new_step_path, class: button_class(theme: "primary") do %>
    Add New Step
    <% end %>
  </div>
<table class="table-auto border-collapse border-slate-400 w-full">
  <thead class="bg-slate-50 dark:bg-slate-700">
    <tr>
      <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-center">Recipe</th>
      <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-center">Method</th>
      <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-center">Position</th>
      <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-center">Name</th>
      <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-center">Instruction</th>
      <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-center">Image</th>
      <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-center"></th>
    </tr>
  </thead>
  <tbody>
    <% @steps.group_by(&:recipe).each do |recipe, steps| %>
      <tr>
        <td class="border border-slate-300 dark:border-slate-700 p-4 text-center text-black" rowspan="<%= steps.size %>"><%= recipe.title %></td>
        <td class="border border-slate-300 dark:border-slate-700 p-4 text-center text-black" rowspan="<%= steps.size %>">
          <% if steps.first.cook_method %>
            <%= steps.first.cook_method.name %>
          <% else %>
            No cooking method available
          <% end %>
        </td>
        <td class="border border-slate-300 dark:border-slate-700 p-4 text-center text-black"><%= steps.first.position %></td>
        <td class="border border-slate-300 dark:border-slate-700 p-4 text-center text-black"><%= steps.first.name %></td>
        <td class="border border-slate-300 dark:border-slate-700 p-4 text-left text-black">
          <% if steps.first.instruction.present? %>
            <ol class="list-decimal pl-4">
              <% steps.first.instruction.split("\n").each do |line| %>
                <% if line.strip.present? %>
                  <li><%= line.strip %></li>
                <% end %>
              <% end %>
            </ol>
          <% else %>
            <p>No instructions available</p>
          <% end %>
        </td>
        <td class="border border-slate-300 dark:border-slate-700 p-4 text-center text-black">
          <% if steps.first.image.attached? %>
            <%= image_tag url_for(steps.first.image), style: "max-height: 200px; width: auto; object-fit: cover;" %>
          <% else %>
            No image available
          <% end %>
        </td>
        <td class="border border-slate-300 dark:border-slate-700 p-4 text-center text-black"><%= link_to 'Show', step_path(steps.first) %></td>
      </tr>
      <% steps[1..].each do |step| %>
        <tr>
          <td class="border border-slate-300 dark:border-slate-700 p-4 text-center text-black"><%= step.position %></td>
          <td class="border border-slate-300 dark:border-slate-700 p-4 text-center text-black"><%= step.name %></td>
          <td class="border border-slate-300 dark:border-slate-700 p-4 text-left text-black">
            <% if step.instruction.present? %>
              <ol class="list-decimal pl-4">
                <% step.instruction.split("\n").each do |line| %>
                  <% if line.strip.present? %>
                    <li><%= line.strip %></li>
                  <% end %>
                <% end %>
              </ol>
            <% else %>
              <p>No instructions available</p>
            <% end %>
          </td>
          <td class="border border-slate-300 dark:border-slate-700 p-4 text-center text-black">
            <% if step.image.attached? %>
              <%= image_tag url_for(step.image), style: "max-height: 200px; width: auto; object-fit: cover;" %>
            <% else %>
              No image available
            <% end %>
          </td>
          <td class="border border-slate-300 dark:border-slate-700 p-4 text-center text-black"><%= link_to 'Show', step_path(step) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
