<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Step</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to steps_path, class: button_class(theme: "transparent") do %>
      All Steps
      <% end %>
      <%= link_to edit_step_path(@step), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Recipe:</p>
        <p><%= @step.recipe %></p>
      </li>
      <li>
        <p class="font-semibold">Position:</p>
        <p><%= @step.position %></p>
      </li>
      <li>
        <p class="font-semibold">Instruction:</p>
        <p><%= @step.instruction %></p>
      </li>
      <li>
        <p class="font-semibold">Image:</p>
        <p><%= @step.image %></p>
      </li>
      <li>
        <p class="font-semibold">Video url:</p>
        <p><%= @step.video_url %></p>
      </li>
  </ul>
</div>
