<%= form_with(model: shopping_list) do |form| %>
<% if shopping_list.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(shopping_list.errors.count, "error") %> prohibited this shopping_list from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% shopping_list.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :account_id, class: label_class %>
          <%= form.text_field :account_id, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :recipe_id, class: label_class %>
          <%= form.text_field :recipe_id, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :ingredient_id, class: label_class %>
          <%= form.text_field :ingredient_id, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :quantity, class: label_class %>
          <%= form.text_field :quantity, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :unit, class: label_class %>
          <%= form.text_field :unit, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :purchased, class: label_class %>
          <%= form.check_box :purchased, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if shopping_list.persisted? %>
<%= link_to "Cancel", shopping_list, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", shopping_lists_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
