<div id="<%= dom_id shopping_list %>">
  <p>
    <strong>Account:</strong>
    <%= shopping_list.account_id %>
  </p>

  <p>
    <strong>Recipe:</strong>
    <%= shopping_list.recipe_id %>
  </p>

  <p>
    <strong>Ingredient:</strong>
    <%= shopping_list.ingredient_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= shopping_list.quantity %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= shopping_list.unit %>
  </p>

  <p>
    <strong>Purchased:</strong>
    <%= shopping_list.purchased %>
  </p>

</div>
