<div id="<%= dom_id shopping_list %>">
  <p>
    <strong>Account:</strong>
    <%= shopping_list.account_id %>
  </p>

  <p>
    <strong>Recipe:</strong>
    <%= shopping_list.recipe_id %>
  </p>

  <p>
    <strong>Ingredient:</strong>
    <%= shopping_list.ingredient_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= shopping_list.quantity %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= shopping_list.unit %>
  </p>

  <p>
    <strong>Purchased:</strong>
    <%= shopping_list.purchased %>
  </p>

 <!-- Hiển thị phương pháp nấu ăn nếu có -->
  <% if shopping_list.method.present? %>
    <p>
      <strong>Method:</strong>
      <%= shopping_list.method %>
    </p>
  <% end %>

  <!-- Hiển thị ảnh nếu có -->
  <% if shopping_list.image.present? %>
    <p>
      <strong>Image:</strong>
      <%= image_tag shopping_list.image, alt: "Image for #{shopping_list.ingredient_id}", class: "max-w-xs mx-auto" %>
    </p>
  <% end %>
</div>
