<div id="<%= dom_id review %>">
  <p>
    <strong>Account:</strong>
    <%= review.account_id %>
  </p>

  <p>
    <strong>Recipe:</strong>
    <%= review.recipe_id %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= review.comment %>
  </p>

  <p>
    <strong>Helpful count:</strong>
    <%= review.helpful_count %>
  </p>

</div>
