<div class="container mx-auto px-4">
  <div class="flex items-center justify-between flex-wrap mb-6">
    <h1 class="text-3xl font-bold">Accounts</h1>

    <%= link_to new_account_path, class: button_class(theme: "primary") do %>
    Add New Account
    <% end %>
  </div>

  <table class="table-auto border-collapse border-slate-400 w-full">
    <thead class="bg-slate-50 dark:bg-slate-700">
      <tr>
        <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-center">Username</th>
        <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-center">Email</th>
        <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-center">Password</th>
        <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-center">Role</th>
        <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-center">Avatar</th>
        <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-center"></th>
      </tr>
    </thead>

    <tbody>
      <% @accounts.each do |account| %>
        <%= content_tag :tr, id: dom_id(account), class: dom_class(account) do %>
          <td class="border border-slate-300 dark:border-slate-700 p-4 text-black text-center"><%= account.username %></td>
          <td class="border border-slate-300 dark:border-slate-700 p-4 text-black text-center"><%= account.email %></td>
          <td class="border border-slate-300 dark:border-slate-700 p-4 text-black text-center"><%= account.password %></td>
          <td class="border border-slate-300 dark:border-slate-700 p-4 text-black text-center"><%= account.role %></td>
          <td class="border border-slate-300 dark:border-slate-700 p-4 text-black text-center flex justify-center items-center overflow-hidden">
            <% if account.image.attached? %>
              <%= image_tag url_for(account.image), alt: account.username, style: "height: auto; width: 200px; object-fit: cover; display: block;" %>
            <% else %>
              No image available
            <% end %>
          </td>
          <td class="border border-slate-300 dark:border-slate-700 p-4 text-black text-center"><%= link_to 'Show', account %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
